.jumbotron
  %h1 My first page StaticPages#index
  %p Find me in app/views/static_pages/index.html.erb
  %button.btn.btn-primary{:type => "button"} Primary
  
  = link_to  root_path, class: "btn btn-primary" do
    .fa.fa-home
    Home